.loginpage{
    border-radius: 5px;
    background-color: lightgray;
    // padding: 100px;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // border: 5px solid #FFFF00;
    padding: 15px;
     
}

.bx--form__helper-text{
    margin-bottom: 20px;
}

.heading{
    font-weight: 400;
    padding: 5px 5px 15px 0;
}