.post-image-style {
    margin: 10px 10px 10px 0;
    width: 80px;
    height:80px;
    
    border: 2px solid grey;
    box-shadow: 0 10px 20px rgba(0,0,0,0.50);
  }

  .post-image-style{
    border-radius: 50%;
  }